/*=========================================================================================================*/
@font-face {
    font-family: "SuperPixel";
    src: url("../fonts/Super\ Pixel\ Personal\ Use.ttf") format("TrueType");
}
@font-face{
    font-family: "Amoria";
    src:url("../fonts/AMORIA.otf")format("OpenType");
}
@font-face{
    font-family: "Ancient";
    src: url("../fonts/Ancient\ Medium.ttf")format("TrueType");
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.background__total{
    background-color: rgba(189, 255, 255, 0.566);
}

.background__haut{
    background-image: url("../images/castor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.haut{
    height: 100vh;
}

h1{
    font-family: "SuperPixel";
    font-size: clamp(2px,5vw,3rem);
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Amoria";
    font-size: 45px;
}

.section{
    min-height: 100vh;
    padding: 10px;
    margin: 0;
    height: fit-content;
}

.centre{
    max-width: 1100px;
    margin: 0 auto;
    padding: 1px;
    background-color: rgba(63, 63, 63, 0.231);
}

/*============================HEADER=======================*/

.accueil{
    outline: 1px solid rgb(113, 0, 19);

}

.accueil__titre{
    display: flex;
    outline: 5px solid red;
    max-width: 1100px;
    height: fit-content;
    justify-content: space-between;

}

#desc__accueil{
    display: flex;
    outline: 1px solid blue;
    height: fit-content;
    justify-content: center;
}

p{
    font-family: "Ancient"
};







/*============================MAIN=======================================*/
.main{
    width: 100vw;
}

.section__titre{
    text-decoration: underline;
}

.section__head{
display: flex;
justify-content: space-between;
}


.accueil__bouton{
    color:rgb(239, 249, 255);
    text-decoration: none;
    background-color: rgba(78, 78, 78, 0.26);
    outline: 1px solid rgb(132, 132, 132);
    padding: 2px;
    height: fit-content;
}

.accueil__bouton:hover{
    color: black;
    background-color: rgba(216, 237, 255, 0.568);
}

/*==============INSCRIPTION==================*/
.inscription{
    box-sizing: border-box;
    background-color: aqua;
    background-size: cover;
}


/*===========Tableau============*/
.tableau{
    box-sizing: border-box;
    background-color: bisque ;
}

table{
    outline: 1px solid pink;
    width: 40vw;
    height: 70vh;
}

thead{
    outline: 2px solid grey;
    padding: 10px;
}

td{
    outline: 1px solid red;
    padding: 10px;
}

tr{
    outline: 1px solid orange;
    padding: 10px;
}
/*==========Articles============*/

.articles{
    box-sizing: border-box;
    background-color: blueviolet;
}

#art1,#art2,#art3,#art4 {
    height: 225px;
    width: fit-content;
    max-width: 250px;
    object-fit: contain;
}

.article4{

}
.article__figure{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgba(240, 248, 255, 0.155);
    outline: 1px solid rgb(48, 46, 46);
}

.article__figure:nth-of-type(odd){
    justify-content: flex-end;
    justify-content: space-between;
}

.article__figure p{
    font-size: clamp(2px,2vw,2rem);
    padding:15px;
}

.img__figure{
    outline: 2px solid black;
    background-color: rgba(60, 60, 60, 0.534);
}

/*=========Galerie=============*/

.galerie{
    box-sizing: border-box;
    background-color: chartreuse;
}

/*=========Vidéo===============*/

.video{
    box-sizing: border-box;
    background-color: darkorange;
}

/*=========Footer==============*/

.background__bas{
    background-color: rgb(22, 22, 22);
}

.footer__texte{
    color: rgb(245, 251, 255);
}

.footer__p{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.info{
    width: 33vw;
    text-align: center;
}

.desc{
    width: 33vw;
    text-align: center;
}

.reseau{
    margin-top: 5vh;
    text-align: center;
}